/* Colors */
:root {
    --PrimaryColor: hsl(194, 78%, 53%);
    --PrimaryLight: hsl(220, 64%, 88%);
    --HoverColor: hsl(218, 63%, 37%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(206, 73%, 9%);
    --textColor: hsl(0, 0%, 58%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    /* box-shadow: 0 2px 8px 4px rgba(33, 33, 33, 0.1) */
}

.navBarSection {
    .header {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        width: 100%;
        padding: 1rem;
        z-index: 1000;

        .logoDiv {
            svg {
                fill: var(--WhiteColor);
                width: 150px;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                &:hover {
                    fill: var(--PrimaryColor);
                    transform: scale(1.1);
                }
            }
        }

        .activeLogo {
            svg {
                fill: var(--PrimaryColor);
                width: 150px;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                &:hover {
                    fill: var(--HoverColor);
                    transform: scale(1.1);
                }
            }
        }

        @media screen and (max-width: 768px) {
            .navBar {
                background: var(--WhiteColor);
                position: absolute;
                height: max-content;
                padding: 1rem;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
                transition: .5s ease-in-out;
                box-shadow: 0 2px 8px 4px rgba(33, 33, 33, 0.1);
                z-index: 1000;

                .navLists {
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;

                    .navItem {
                        padding: 1rem 0;

                        .navLink {
                            color: var(--textColor);
                            font-size: .9rem;
                            font-weight: 400;
                            display: flex;

                            &:hover {
                                transform: scale(1.1);
                                font-size: 1rem;
                                color: var(--PrimaryColor);
                                transition: .3s ease;
                            }
                        }

                    }

                    .headerBtns {
                        flex-direction: column;

                        .btn {
                            margin-top: 1rem;

                            a {
                                font-weight: 600;

                                &:hover {
                                    color: var(--WhiteColor);
                                }
                            }

                            &:hover {
                                background: var(--HoverColor);

                                a {
                                    color: var(--WhiteColor);
                                }
                            }
                        }

                        .loginBtn {
                            background: transparent;
                            border: 1px solid var(--PrimaryColor);

                            a {
                                color: var(--PrimaryColor);
                            }

                            &:hover {
                                background: var(--HoverColor);
                                transform: scale(1.1);

                                a {
                                    color: var(--WhiteColor);
                                }
                            }
                        }

                        .signupBtn {
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                .closeNavbar {
                    position: absolute;
                    top: 2.2rem;
                    right: 1rem;
                    color: var(--PrimaryColor);

                    &:hover .icon {
                        color: var(--HoverColor);
                        transform: scale(1.1);
                    }
                }
            }

            .activeNavbar {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                left: 0;
                transition: .5s ease-in-out;
                padding-bottom: 1rem;
            }
        }
        .linkActive{
            font-weight: 400;
            padding: 0 .45rem;
            color: var(--PrimaryColor);
            font-size: .9rem;
            &:hover{
                color: var(--HoverColor);
            }
        }

        .toggleNavbar {
            .icon {
                font-size: 35px;
                color: var(--WhiteColor);

                &:hover {
                    color: var(--PrimaryColor);
                    transform: scale(1.1);
                }
            }
        }

        .toggleNavColor {
            .icon {
                font-size: 35px;
                color: var(--PrimaryColor);

                &:hover {
                    color: var(--HoverColor);
                    transform: scale(1.1);
                }
            }
        }
    }

    .activeHeader {
        background-color: var(--WhiteColor);
        box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
    }
}

// MEDIA QUERIES =======>
@media screen and (min-width: 769px) {
    .navBarSection{

        .toggleNavbar, .closeNavbar{
            display: none;
        }
        .header{
            padding: 1.5rem 2rem;
            .navBar{
                .navLists{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;

                    .navItem{
                        .navLink{
                            color: var(--WhiteColor);
                            padding: 0 .45rem;
                            font-size: .9rem;
                            font-weight: 300;
                            &:hover{
                                color: var(--PrimaryColor);
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                .btn{
                    margin-left: 1rem;

                    a{
                        color: var(--WhiteColor);
                        font-weight: 500;
                    }
                }

                .loginBtn{
                    background: none;
                    border: 1px solid var(--PrimaryColor);

                    &:hover{
                        background: var(--PrimaryColor);
                        transform: scale(1.1);
                        a{
                            color: var(--WhiteColor);
                        }
                    }
                }
                .ActiveLogin{
                    background: none;
                    border: 1px solid var(--PrimaryColor);
                    a{
                        color: var(--PrimaryColor);
                    }
                    &:hover{
                        background: var(--PrimaryColor);
                        transform: scale(1.1);
                        a{
                            color: var(--WhiteColor);
                        }
                    }
                }
                .signupBtn{
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 .7rem;
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .header{
        padding: 1rem 8.5rem!important;
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 .7rem;
                }
            }
        }
    }
}