/* Colors */
:root{
    --PrimaryColor: hsl(219, 65%, 72%);
    --PrimaryLight: hsl(220, 64%, 88%);
    --HoverColor: hsl(203, 54%, 46%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(206, 73%, 9%);
    --textColor: hsl(0, 0%, 56%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190,190,190);
    --inputColor: hsl(330,12%,97%);
    /* box-shadow: rgba(0, 0, 0, 0.1); */
}

.navBarSection{
    .header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        width: 100%;
        padding: 1rem;
        z-index: 1000;
        .logoDiv{
            svg{
                fill: var(--PrimaryColor);
                width: 150px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
            }
        }
        @media screen and (max-width: 768px){
            .navBar{
                background: var(--greyBg);
                position: absolute;
                height: max-content;
                padding: 1rem;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
                transition: .05s ease-in-out;
                box-shadow: 0 2px 4px rgba(209,209,209,0.904);
                z-index: 1000;

                .navLists{
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;

                    .navItem{
                        padding: 1rem 0;
                        
                        .navLink{
                            color: var(--textColor);
                            font-size: .9rem;
                            font-weight: 600;
                            &:hover{
                                font-size: 1rem;
                                color: var(--PrimaryColor);
                                transform: scale(1.1);
                            }
                        }

                    }

                    .headerBtns{
                        flex-direction: column;
                        .btn{
                            margin-top: 1rem;

                            a{
                                font-weight: 600;

                                &:hover{
                                    color: var(--WhiteColor);
                                }
                            }
                            &:hover{
                                background: var(--HoverColor);
                                a{
                                    color: var(--WhiteColor);
                                }
                            }
                        }

                        .loginBtn{
                            background: transparent;
                            border: 1px solid var(--PrimaryColor);

                            a{
                                color: var(--PrimaryColor);
                            }
                            &:hover{
                                background: black rgba(0, 0, 0, 0.842);
                                transform: scale(1.1);
                                a{
                                    color: var(--WhiteColor);
                                }
                            }
                        }
                        .signupBtn{
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                .closeNavbar{
                    position: absolute;
                    top: 2.2rem;
                    right: 1rem;
                    color: var(--PrimaryColor);
                    &:hover .icon{
                        color: var(--HoverColor);
                        transform: scale(1.1);
                    }
                }
            }

            .activeNavbar{
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                left: 0;
                transition: .05s ease;
                padding-bottom: 1rem;
            }
        }

        .toggleNavbar{
            .icon{
                color: var(--PrimaryColor);
                &:hover{
                    color: var(--HoverColor);
                    transform: scale(1.1);
                }
            }
        }
    }
}