/* Colors */
:root {
  --PrimaryColor: hsl(194, 78%, 53%);
  --PrimaryLight: hsl(220, 64%, 88%);
  --HoverColor: hsl(218, 63%, 37%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(206, 73%, 9%);
  --textColor: hsl(0, 0%, 58%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  /* box-shadow: 0 2px 8px 4px rgba(33, 33, 33, 0.1) */
}

.popular {
  padding-top: 10rem;
}
.popular .secContainer .secHeader {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.popular .secContainer .secHeader .textDiv .secTitle {
  color: var(--BlackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.popular .secContainer .secHeader .textDiv p {
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}
.popular .secContainer .secHeader .iconsDiv {
  gap: 0.5rem;
}
.popular .secContainer .secHeader .iconsDiv .icon {
  padding: 0.5rem;
  background-color: var(--PrimaryLight);
  color: var(--PrimaryColor);
  border-radius: 50%;
  font-size: 2.5rem;
}
.popular .secContainer .secHeader .iconsDiv .icon:hover {
  background-color: var(--PrimaryColor);
  -moz-column-rule: var(--WhiteColor);
       column-rule: var(--WhiteColor);
  color: var(--PrimaryLight);
  transform: scale(1.1);
}
.popular .secContainer .secHeader .iconsDiv .leftIcon {
  background-color: var(--PrimaryColor);
  color: var(--PrimaryLight);
}
.popular .secContainer .secHeader .iconsDiv .leftIcon:hover {
  background-color: var(--PrimaryLight);
  color: var(--PrimaryColor);
  transform: scale(1.1);
}
.popular .secContainer .mainContent {
  padding: 2rem 0;
  gap: 1rem;
}
.popular .secContainer .mainContent .singleDestination {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 4px rgba(33, 33, 33, 0.1);
}
.popular .secContainer .mainContent .singleDestination .destImage {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.popular .secContainer .mainContent .singleDestination .destImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.759));
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo h3 {
  color: var(--WhiteColor);
  font-weight: 600;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo p {
  color: var(--WhiteColor);
  opacity: 0.7;
  font-size: 13px;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.5rem;
  background: var(--PrimaryColor);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--WhiteColor);
  border: 1px solid transparent;
  transform: 0.03s ease;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon:hover {
  background: var(--PrimaryLight);
  border: 1px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
  transform: scale(1.1);
}
.popular .secContainer .mainContent .singleDestination .destFooter {
  padding: 1rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--BlackColor);
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.popular .secContainer .mainContent .singleDestination .destFooter .number::after {
  content: "";
  position: absolute;
  background: var(--PrimaryColor);
  top: 45%;
  right: -150%;
  height: 5px;
  width: 45px;
  border-radius: 1rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText {
  justify-content: space-between;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText h6 {
  color: var(--BlackColor);
  font-size: 15px;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText .flex {
  color: var(--textColor);
  vertical-align: center;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText .flex .icon {
  vertical-align: middle;
  color: var(--PrimaryColor);
}
.popular .secContainer .mainContent .singleDestination:hover .overlayInfo {
  transition: 0.3s ease;
  overflow: visible;
  padding: 1rem 1.5rem;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 480px) {
  .popular .secContainer .secHeader {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=popular.css.map */